# Systemd service for Boros VPi.
# To modify the configuration of the service change parameters in
# /ect/
[Unit]
Description=BorosVpi user-space daemon
Requires=local-fs.target
After=local-fs.target

[Service]
Type=idle
EnvironmentFile=/etc/vpid/vpidEnv
Environment="RUST_LOG=${VPI_LOGLEVEL}"
# Start the service
ExecStart=${VPI_BINDIR}/vpid --config=$VPI_CONFIGFILE --socket=$VPI_SOCKET --device=$VPI_DEVICE --address=$VPI_ADDRESS
# Stopt script to send init command on reboot & shutdown in poweroff
ExecStop=/bin/sh  -c ' \
if [ $VPI_SHUTDOWN -eq 1 ] ; then \
 systemctl list-jobs | egrep -q "poweroff.target.*start" \
 if [ $? -eq 0 ] ; then \
    ${VPI_BINDIR}/vpidctl --device=$VPI_DEVICE --address=$VPI_ADDRESS dcmd shutdown \
 fi \
 systemctl list-jobs | egrep -q "reboot.target.*start" \
 if [ $? -eq 0 ] ; then \
    ${VPI_BINDIR}/vpidctl --device=$VPI_DEVICE --address=$VPI_ADDRESS dcmd init \
 fi \
fi'
# Restart the service on failures with 5s seconds delay
Restart=on-failure
RestartSec=5s
# User & group to execute the service
User=root
Group=root

[Install]
WantedBy=multi-user.target


